<main class="auth-main">
    <section class="auth-section">
        <div class="form-section big-section">
            <div class="get_blur"></div>
            <div class="form-section__inner">
                <h1 class="form-section__title">Message list</h1>
                <div class="message-list">
                    {% for key, item in data.messageData %}
                    <div class="message-item {% if (item['status'] == 0) %}readed{% endif %}" id="item{{item['id']}}">
                        <div class="message-item-info">
                            <a href="/messages/read/{{ item['id'] }}">
                                <div class="message-item-info__inner">
                                    <span class="contain-small">{{ key }}</span>
                                    <span class="contain-normal">{{ item['name'] }}</span>
                                    <span class="contain-normal">{{ item['last_name'] }}</span>
                                    <span class="contain-large">{{ item['email'] }}</span>
                                    <span class="contain-large">{{ item['date']|slice(0,-5) }}</span>
                                </div>
                            </a>
                            <span>
                                <img src="/template/img/{% if (item['status'] == 0) %}email{% else %}email-green{% endif %}.svg"
                                             title="Mark as read" class="read-icon" width="24px"
                                             data-id="{{ item['id'] }}" alt="icon">
                                <img src="/template/img/remove.svg" title="Delete" class="delete-icon"
                                             width="24px" data-id="{{ item['id'] }}" alt="icon">
                            </span>
                        </div>
                        <a href="/messages/read/{{ item['id'] }}">
                            <div class="message-item-message">
                                {% if item['message']|length > 600 %}
                                    {{ item['message']|slice(0, 600) }}
                                {% else %}
                                    {{ item['message'] }}
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% endfor %}

                    <div class="pagination p1">
                        <ul>
                            {% if (data.pageInfo['current-page'] - 1 != 0)  %}
                            <a href="/messages/page/{{ data.pageInfo['current-page'] - 1 }}">
                                <li>&#x25c0;</li>
                            </a>
                            {% endif %}
                             {% for i in range(0, data.pageInfo['page-count'] -1) %}
                            <a class="{%  if(data.pageInfo['current-page'] == i + 1) %}is-active{% endif %}"
                               href="/messages/page/{{ i + 1 }}">
                                <li>{{ i + 1 }}</li>
                            </a>
                            {% endfor %}
                            {% if(data.pageInfo['current-page'] != data.pageInfo['page-count'])%}
                            <a href="/messages/page/{{data.pageInfo['current-page'] + 1}}">
                                <li>&#x25ba;</li>
                            </a>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="/template/js/main.js"></script>
