
    <main class="auth-main">
        <section class="auth-section">
            <div class="form-section big-section">
                <div class="get_blur"></div>
                <div class="form-section__inner inner_padding">
                    <h3>{{ data.messageData[1] }} {{ data.messageData[2] }}</h3>
                    <h4>{{ data.messageData[3] }}</h4>
                    <small>{{ data.messageData[5]|slice(0, -5) }}</small>
                    <div class="equal">{{ data.messageData[4] }}</div>
                    <a href="/messages">Back to message list</a>
                </div>
            </div>
        </section>
    </main>
